.calendar__button--container {
    width: 100%;
}

.calendar__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border: none;
    background-color: green;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 800;
    cursor: pointer;
    font-size: 60px;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    text-decoration: none;
    width: 100%;
}

.calendar__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.mood__face {
    height: 80px;
    width: 80px;   
    border-radius: 100%;
    font-size: 40px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.happy__face {
    background-color: yellow;
    color:black;
}

.sad__face {
    color: white;
    background-color: rgb(236, 32, 32);
}